 @import "bootstrap";
 .box {
  float: left;
  width: 99%;
  // margin: 20px;
  border: 1px solid black;
}

 .box .top {
  padding: 6px;
  background-color: blue;
  color: white;
  cursor: pointer;
   border-bottom: 1px solid black;
}

 .box .bottom {
  padding: 6px;
  background-color: red;
  color: white;
  display: none;
  // border: 1px solid black;
}

.dashed-red{
  padding: 40px;
  border: 10px dashed #fff;
  border-color: red;
}
#ordered-list1{
 position: fixed;
 border: 1px solid lightblue;
}